:root {
  --main-navy: #3d405b;
  --main-green: #81b29a;
  --main-orange: #e07a5f;
  --main-yellow: #f2cc8f;
  --main-cream: #f4f1de;
}

@font-face {
  font-family: 'Victor Mono';
  src: url('assets/fonts/VictorMono-VariableFont_wght.ttf');
}

* {
  font-family: 'Victor Mono';
}

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

a,
a:visited {
  color: var(--main-cream);
}

body,
html {
  height: 100%;
  background-color: var(--main-navy);
  color: var(--main-cream);
}

#profile-img {
  max-width: 40%;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: var(--main-green);
}

nav h1 {
  flex-basis: 33%;
}

nav img {
  flex-basis: 33%;
}

nav ul {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
}

main {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

article {
  text-align: center;
  justify-content: center;
}

section {
  border: 2px solid var(--main-orange);
  /* background-color: var(--main-orange); */
  border-radius: 20px;
  width: 250px;
  text-align: center;
}

footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 8px;
  justify-content: center;
  background-color: var(--main-green);
}

/* Small Tablet Styles */
@media screen and (min-width: 620px) {
}
/* Lg Tablet & Laptop Styles */
@media screen and (min-width: 960px) {
}
/* Desktop Styles */
@media screen and (min-width: 960px) {
}
