:root {
  --main-navy: #3d405b;
  --main-green: #81b29a;
  --main-orange: #e07a5f;
  --main-yellow: #f2cc8f;
  --main-cream: #f4f1de;
  --border-radius: 5px;
}

@font-face {
  font-family: 'Victor Mono';
  src: url('assets/fonts/VictorMono-VariableFont_wght.ttf');
}

html,
body {
  height: 100%;
  font-family: 'Victor Mono';
  font-weight: 700;
  background-color: var(--main-navy);
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/* ---------------------- HEADER */
header {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid var(--main-orange);
  background-color: var(--main-green);
  color: var(--main-cream);
  text-shadow: 2px 2px var(--main-navy);
  position: fixed;
  width: 100%;
}

header h1 {
  font-size: clamp(30px, 5vw, 90px);
}

header img {
  align-self: flex-end;
  max-height: 22vh;
}

/* -----------------------MAIN */
main {
  display: grid;
  gap: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow-y: auto;
  padding-top: 22vh;
}

section {
  background-color: rgb(244, 201, 244);
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

section img {
  max-width: 25vw;
}

footer {
  width: 100%;
  background-color: var(--main-green);
  border-top: 2px solid var(--main-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
